<!DOCTYPE html>
<html lang="en">
<head>
    <% include templates/head.ejs %>
</head>
<body>
<% include templates/header.ejs %>
<!-- Insert Body here -->
<main role="main" class="container">
    <div class="starter-template">
        <%- body %>
    </div>
</main>
<% include templates/footer.ejs %>
</body>
</html>